@font-face {
	font-family: "Roboto";
	src: url('Fonts/Roboto/Roboto.ttf');
}

@font-face {
	font-family: "Arima";
	src: url('Fonts/Arima/ArimaMadurai-Regular.ttf');
}

@font-face {
	font-family: "Oswald";
	src: url('Fonts/Oswald/Oswald-Regular.ttf');
}

@font-face {
	font-family: "Lobster";
	src: url('Fonts/Lobster/Lobster-Regular.ttf');
}



